.container {
    width: 100vw;
    height: 100vh;
    background-color: #343541;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    color: white;
}

.back {
    position: absolute;
    top: 25px;
    left: 25px;
}

.logo {
    width: 50%;
}

.formLogin {
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 100%;
}

.divField {
    width: 70%;
    display: flex;
    margin-bottom: 20px;
    flex-direction: column;
    align-items: flex-start;
}

.input {
    width: calc(100% - 20px);
    height: 50px;
    border-radius: 15px;
    margin-top: 5px;
    border-width: 0;
    outline: none;
    font-size: 20px;
    padding: 0 10px;
}

.buttonSubmit {
    width: 70%;
    height: 50px;
    border-radius: 15px;
    border-width: 0;
    margin-top: 45px;
    font-size: 16px;
    background-color: #ff8800;
}

.buttonCadastre {
    width: 70%;
    font-size: 16px;
    height: 50px;
    border-radius: 15px;
    margin-top: 45px;
    color: white;
    border: 1px solid white;
    background-color: transparent;
}