
.header {
    width: 86%;
    height: 50px;
    background-color: #343541;
    color: white;
    border-bottom: .5px solid white;
    padding: 0 7%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.fixedHeader {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.fakeMenu {
    top: 0;
    left: 0;
    bottom: 0;
    z-index: 9;
    opacity: .7;
    width: 100vw;
    height: 100vh;
    position: absolute;
    background-color: #565869;
}

.menu {
    top: 0;
    left: 0;
    bottom: 0;
    z-index: 10;
    width: 75vw;
    height: 100vh;
    position: absolute;
    background-color: #202123;
    border-radius: 0 10px 10px 0;
    box-shadow: 0px 0px 15px #000;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.closeMenu {
    top: 25px;
    right: -35px;
    position: absolute;
}

.btNewNote {
    width: 70vw;
    height: 50px;
    margin: 15px 0;
    color: white;
    font-size: 18px;
    border-radius: 10px;
    border: 1px solid white;
    background-color: transparent;
    display: flex;
    align-items: center;
}

.menuPlusNote {
    margin: 0 15px;
}

.containerConversations {
    width: 100%;
    height: calc(100% - 210px);
    overflow: auto;
}

.divConversation {
    width: calc(100% - 32px);
    display: flex;
    align-items: center;
    padding-left: 32px;
}

.divConversation:hover {
    background-color: #343541;
}

.divConversationFirst {
    display: flex;
    width: 100%;
    align-items: center;
}

.titleConversation {
    max-width: 135px;
    white-space: nowrap;
    display: flex;
    flex-wrap: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    margin-right: 5px;
}

.icon {
    margin-right: 16px;
}

.menuFooter {
    display: flex;
    position: absolute;
    bottom: 20px;
    left: 0;
    width: 100%;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    border-top: 1px solid white;
}

.optionMenuFooter {
    display: flex;
    align-items: center;
}

.iconSend {
    margin-left: auto;
    padding: 5px;
    transform: rotate(-45deg);
}

.iconSend:hover {
    color: greenyellow;
}